
.main-content {
    flex: 1;
    padding: 20px;
}

.dashboard {
    padding-left: 295px;
    padding-top: 40px;
    width: calc(100% - 320px);
}

.dashboard h1 {
    font-size: 28px;
}

.stat-box {
    border: 1px solid #ddd;
    margin-top: 3%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart-box {
    margin-top: 3%;
}

.dashboard .stats-container .stat-box h2 {
    font-size: 18px;
}

.dashboard .stats-container .stat-box p {
    font-size: 20px;
    color: white;
}

.dashboard .stats-container .chart-box h2 {
    font-size: 18px;
    text-align: center;
}

.dashboard .bar-chart-box h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 3%;
}