body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

.home {
    justify-content: center;
    text-align: center;
}
.poster{
    margin-top:65px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .poster {
        margin-top: 50px;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .poster {
        margin-top: 40px;
        width: 80%;
    }
}
.registerNow button {
  background-color: hotpink;
  border: 1px solid hotpink ;
  border-radius: 15px;
  padding: 20px;
    text-align: center;
    color:white; 
    text-shadow: 
      0 0 10px #f9f871;
    font-family: 'Arial, sans-serif';
    font-size: 3rem; 
    text-align: center;
  }
  /* .introduce h1{
    color: hotpink;
    margin-top: 95px;
    font-size: 48px;
    text-align: left;
    margin-left: 10%;
  } */

  .intro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 0 5%;
  }
  .intro-container .introdution
  {
    flex: 1;
  }
  .intro-container .introdution p{
    min-width: 250px; 
    color: #ffffff;
    margin-bottom: 40px;
    max-width: 80%;
    line-height: 1.6;
    text-align: justify;
    margin-left: 5%;
    margin-right: 50px;
  }

  .intro-container .introdution h2{
    color: #f9f871;
    font-size: 36px;
    text-align: left;
    margin-left: 5%;
  }

  .intro-container img{
    padding-top: 5%;
    margin-right: 5%;
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 8px; 
    object-fit: cover; 
    margin-bottom: 5%;
  }

  .package-container h2{
    color: #f9f871;
    margin-top: 95px;
    font-size: 36px;
    text-align: center;
    /* margin-left: 9%; */
    margin-bottom: 20px;
  }
  .package-container img{
    padding: 0 10%;
    flex: 1;
    height: auto;
    max-width: 800px;
  }
  .package-container p{
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
  }

  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
  }
  
  .map-image {
    max-width: 90%;
    margin-top: 7%;
    margin-left: 10%;
  }
  
  .map-image img {
    width: 50%;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #0dc9f9;
  }
  
  .map-content {
    max-width: 50%;
    text-align: center;
  }
  
  .map-content h2 {
    font-size: 36px;
    color: #f9f871;
    margin-bottom: 20px;
  }
  
  .map-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: white;
  }
