body {
    color: white;
    margin: 0;
    padding: 0;
  }

  .info-container{
    color: #ffffff;
    background-color: black;
    margin-top:65px;
    font-size: 36px;
    text-align: center;
    margin-left: 9%;
    align-items: center;
  }

  .info-container h1{
    text-align: center;
    color: hotpink;
  }

  .info-container h2{
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: #f9f871;
  }

  .info-container h3{
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
    color: hotpink;
  }
  
  .info-container a{
    color: white;
    font-size: 18px;
    text-decoration: underline;

  }

  .info-container p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
  }

  /* .info-container ul{
    font-size: 18px;
    line-height: 2.0;
    margin-left: 10%;
    margin-right: 7%;
    margin-bottom: 50px;
    text-align: left;
    align-items: center;
  } */

  .info-container img{
    align-items: center;
  }

  table {
    width: 550px;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 30px;
    border-collapse: collapse;
  }
  
  caption {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f9f871;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
  }
  
  th {
    background-color: #d76fb1;
    color: white;
    font-weight: bold;
    text-align: center;
  }