.header{
    position: fixed;
    top:0;
    left: 0;
    width: 94%;
    padding: 10px 2%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    font-size: 30px;
    font-weight: 500;
    color: #bb00ff; 
    text-shadow: 
      0 0 10px #ef3cff,
      0 0 20px #ef3cff,
      0 0 40px #ef3cff,
      0 0 80px #ef3cff;
}
.navBar a
{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-right: 80px;
}

.navBar a::before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navBar a:hover::before
{
   width: 100%;
}
.header .user{
    background-color: hotpink;
    color: white;
    padding: 10px;
    border-radius: 10%;
}
