.post-event-container .after
{
    background-color: rgb(0, 0, 0);
    color: blue;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
}

.after-event
{
    justify-content: center;
    align-items: center;
}

.after-event h1
{
    color: hotpink;
    margin-top:75px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}


.post-event-container .memories-container
{
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates a 2-column grid */
  gap: 20px; /* Adds spacing between images */
  justify-items: center; /* Centers images horizontally */
  margin-top: 20px;
}
.image-item {
    display: flex;
    justify-content: center;
  }
  
  .uploadedImage {
    width: 100%;
    min-width: 500px; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }


.winners {
    gap: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.winners img{
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    overflow: hidden;
}

.ecert-container {
  text-align: center;
  margin-top: 50px;
}

.ecert-container h1 {
  color: hotpink;
  font-size: 36px;
  margin-bottom: 20px;
}

.ecert-container p {
  font-size: 18px;
  color: blue;
  text-decoration: underline;
}

.ecert-link {
  color: white; /* Change link text color to white */
  text-decoration: none; /* Remove underline */
}

.ecert-link:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}

