.ranking-container {
    padding-left: 295px;
    padding-top: 40px;
    width: calc(100% - 320px);
    
}

.ranking-container h1 {
    font-size: 28px;
}

.ranking-container .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-container h2 {
    font-size: 18px;
    margin-top: 3%;
}

.ranking-container .clear {
    margin-left: 2%;
    background-color: white;
    padding: 5px;
    border-radius: 10%;
    border: none;
    color: hotpink;
    width: 60px;
}

.ranking-container .ranking {
    background-color: hotpink;
    padding: 5px;
    border-radius: 10%;
    border: none;
    color: white;
    width: 100px;
}

.ranking-container .ranking:disabled {
    background-color: rgb(250, 199, 224) !important;
    padding: 5px;
    border-radius: 10%;
    border: none;
    color: white;
    width: 100px;
}

.ranking-container .search-section .ic-search {
    margin-right: 2%;
    background-color: aliceblue;
    padding: 2px;
    border-radius: 10%;
    width: 200px;
}